@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: grey;
}

.rabbit {
  background-color: white;
}

.rabbit button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

.rabbit button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.rabbit button:disabled,
.rabbit button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
